<div id = 'welcome-container'>
    <div class = "text-container">
        <div id = 'welcome-text' class = 'dark-text'>
            RUNAWAY ROBOT
        </div>
    </div>

    <div class = 'button-container'> 
        <button class = "launch-button" (click) = "startNewGame()">
            Start New Game
        </button>
    </div>
  <div ss = 'button-container'> 
    <!-- <button class = "launch-button" *ngIf = "oldGameExists">
        Resume Game
    </button> -->
  </div>

  <img src = "assets/video/running-robot.gif"/>

  <audio src = "assets/audio/quest-luv-loop-4-170bpm-119701.mp3" autoplay loop></audio>



  
</div>