video {
    max-height: 100%;
    max-width: 100%;
}

.video-container {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    display: flex;
    align-items: flex-end;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}
