

<h2>  What is  Runaway Robot? </h2>

<article>
    A software engineer's  personal project, and a game for people who like learning new things and solving puzzles. 
</article>

<h2>  Why did I make Runaway Robot? </h2>

<article>
    As I child, I loved games that involved puzzles and problem solving. I grew up with games like the King's Quest series and the Carmen Sandiego Games. 
    <br>
    <br>
    Back then, I imagined re-creating those games with my own variations, but of course, I was 13 years old, with a very limitted skillset. 
    <br>
    <br>
    More than a decade later, I realized I now have the ability to fulfil that dream, and so I set out to create Runaway Robot.
    <br>
    <br>
    I hope you enjoy the game. Thank you for joining me in this game. I wish you all the best in your quest for Raju the Runaway Robot. 
</article>
<h2> 
    And I'd like to thank...
    
</h2>

<article>
    A lot of material I found on this treasure trove we call the world wide web : 
    <ul>
       <li> Video created with Canva </li>
       <li> Images sources from Canva </li>
       <li> Airplane take off sound effect by Sound Effect by <a href="https://pixabay.com/users/cryptowista-30416468/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=121949">Crypto Wista</a> from <a href="https://pixabay.com/sound-effects//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=121949">Pixabay</a></li>
       <li> City sound Effect from <a href="https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=29089">Pixabay</a></li>
       <li> 'Right city' and 'Wrong city'sound Effects from <a href="https://pixabay.com/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=6008">Pixabay</a></li>
        <li>Tourist vector by <a href="https://dribbble.com/Cynthia_yue?ref=svgrepo.com" target="_blank">Cynthia</a> in CC Attribution License via <a href="https://www.svgrepo.com/" target="_blank">SVG Repo</a></li>
    </ul>
    <ul>

    </ul>
</article>
